body {
    background-color: #E8EBF7;
}

header {
    background-color: #bd4522;
}

#logo {
    height: 3rem;
}

#photo_holder {
    display: table;
    height: 100%;
}

#photo {
    max-width: 100%;
    min-width: 50%;
    height: auto;
    object-fit: contain;
}

#about_us {
    height: max-content;
}

#begining {
    height: 0;
    width: 0;
    position: absolute;
    top: 0;
}

.service-item {
    padding: 5rem;
}

.controls {
    width: 10%;
}