body {
    background-color: #E8EBF7;
}

header {
    background-color: #bd4522;
}

#logo {
    height: 3rem;
}

#photo_holder {
    display: table;
    flex-basis: 50%;
    align-content: center;
    /* height: 100%; */
}

#photo {
    max-width: 100%;
    min-width: 50%;
    height: auto;
    object-fit: contain;
}

#about_text {
    width: 100%;
}

#begining {
    height: 0;
    width: 0;
    position: absolute;
    top: 0;
}

.service-item {
    padding: 5rem;
}

.controls {
    width: 10%;
}

#certificates {
    width: 100%;
    height: auto;
}

.certificate {
    width: 30%;
}

.certificate:hover {
    border: 2px solid purple;
}

.certificate_img {
    width: 100%;
}