body {
    background-color: #27282c;
}

main {
    width: 100%;
    padding: 0;
    margin: 0;
}

header {
    background-color: #bd4522;
}

#phones_table>tbody>tr>td {
    padding-left: 2rem;
}

#image {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

#image>img {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
}

#image>div {
    position: absolute;
    color: black;
    font-size: 1.2rem;
    z-index: 1;
    width: 25%;
    height: 100%;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
}

.indent {
    text-indent: 1rem;
}

#services {
    background-color: #DADAD9;
}

#abstract_img {
    position: absolute;
    z-index: -100;
    width: 883px;
    height: 584px;
}

#logo {
    height: 3rem;
}

#photo_holder {
    display: table;
    flex-basis: 50%;
    align-content: center;
    /* height: 100%; */
}

#photo {
    max-width: 100%;
    min-width: 50%;
    height: auto;
    object-fit: contain;
}

#about_text {
    color: #ddd;
    width: 100%;
}

#begining {
    height: 0;
    width: 0;
    position: absolute;
    top: 0;
}

.service-item {
    padding: 5rem;
}

.controls {
    width: 10%;
}

#certificates {
    width: 100%;
    height: auto;
}

.certificate {
    width: 32%;
}

.certificate:hover {
    border: 2px solid rgba(0, 0, 0, 0);
}

.certificate_img {
    width: 100%;
}